.contact {
  h2 {
    font-size: 2rem;
  }
  h3 {
    font-size: 1.1rem;
    display: none;
  }

  button {
    width: 220px;
  }

  label {
    p {
      font-size: 1.2rem;
    }

    input,
    textarea {
      font-size: 1rem;
    }
  }

  li {
    i {
      font-size: 2.4rem;
    }
  }

  li:hover {
    i {
      font-size: 3.2rem;
    }
  }
}

// .projects {
//   &__item-description {
//     padding: 15px;
//     h3 {
//       font-size: 2.2rem;
//     }
//     h4 {
//       font-size: 1.2rem;
//     }
//     p {
//       font-size: 1.3rem;
//       line-height: 2rem;
//     }

//     a {
//       padding: 15px 20px;
//       font-size: 1rem;
//     }
//   }
// }
