.contact {
  h2 {
    font-size: 2rem;
  }
  h3 {
    font-size: 1.1rem;
    display: none;
  }

  label {
    p {
      font-size: 1.2rem;
    }

    input,
    textarea {
      font-size: 1rem;
    }
  }

  p {
    font-size: 1.1rem;
  }
}
