.header {
  .nav__list-item {
    font-size: 1.4rem;
  }
}

.habilities {
  ul {
    grid-template-columns: repeat(3, 1fr);
    &__item {
      padding: 20px 15px;
    }
    .a {
      transition-delay: 0.5s;
    }

    .b {
      transition-delay: 0s;
    }

    .c {
      transition-delay: 0.5s;
    }

    .d {
      transition-delay: 0s;
    }
  }
}

.projects {
  &__item-image {
    width: 370px;
  }
  &__item-description {
    h3 {
      font-size: 2.7rem;
    }
    h4 {
      font-size: 1.2rem;
    }

    p {
      font-size: 1.3rem;
      line-height: 2rem;
    }
  }
}
