@import '../variables.scss';
// .header-wrapper {
//   display: flex;
//   justify-content: space-between;
// }
.header {
  justify-content: space-between;
  align-items: center;
  display: flex;
  // position: sticky;
  // z-index: 5;
  &__title {
    font-size: 2.3rem;
  }
  &__nav {
    position: initial;
  }
}

.nav__activator {
  display: none;
}

.nav-list {
  display: flex;
  justify-content: space-between;
  &__item-link {
    border: none;
    padding-right: 10px;
  }
  &__item {
    background-color: $dark-strong;
  }
}

.hero {
  padding: 50px 70px;
}

.habilities__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.habilities__list-item {
  margin: 10px;
}

.project__description-buttons {
  margin-top: 15px;
}
