@import '../variables.scss';

/*HEADER*/
.header {
  justify-content: space-between;
  align-items: center;
  display: flex;
  position: sticky;
  z-index: 5;
  height: 80px;
  &__title {
    font-size: 2.3rem;
    line-height: initial;
  }
  &__nav {
    position: initial;
  }
}

/*NAV*/
.nav-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: initial;
  &__item {
    background-color: $dark-strong;
  }
  &__item-link {
    text-align: center;
    border: none;
    padding-right: 10px;
  }

  &__item:hover {
    font-size: 2rem;
    border: none;
  }
}

.nav__activator {
  display: none;
}

/*HERO*/
.hero {
  // padding: 50px 70px;
  text-align: left;
}

/*HABILITIES*/
.habilities {
  ul {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

/*PROJECT*/
.project__description {
  p {
    font-size: 1.6rem;
  }
}
.project__description-buttons {
  margin-top: 15px;
}
