@import '../variables.scss';

/*HEADER*/
.header {
  justify-content: space-between;
  align-items: center;
  display: flex;
  position: sticky;
  top: 0;
  z-index: 5;
  height: 80px;
  &__title {
    font-size: 2.3rem;
    line-height: initial;
  }
  &__nav {
    position: initial;
  }
}

/*NAV*/
.nav-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: initial;
  &__item {
    background-color: $dark-strong;
  }
  &__item-link {
    text-align: center;
    border: none;
    padding-right: 10px;
  }

  &__item:hover {
    font-size: 2rem;
    border: none;
  }
}

.nav__activator {
  display: none;
}

/*HERO*/
.hero {
  // padding: 50px 70px;
  text-align: left;
}

/*HABILITIES*/
.habilities {
  ul {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

/*PROJECT*/

// .projects {
//   padding: 25px;
//   &__item {
//     background-color: $dark-strong;
//     padding: 25px 30px;
//     display: flex;
//     justify-content: space-between;
//     @include darkShadow();
//     img {
//       width: 100%;
//       height: 100%;
//       object-fit: cover;
//     }
//   }

//   &__item-visuals {
//     position: relative;
//     display: flex;
//   }

//   &__item-description {
//     width: 60%;
//     text-align: justify;
//     padding-left: 30px;
//     line-height: 2.5rem;
//     p {
//       padding-bottom: 10px;
//     }

//     h4 {
//       padding-bottom: 5px;
//     }

//     ul {
//       padding-left: 25px;
//     }
//   }

//   &__item-description-buttons {
//     margin: 20px 0;
//     display: flex;
//     justify-content: center;
//     a {
//       border: 1px solid rgba(255, 255, 255, 0.411);
//       font-weight: 300;
//       padding: 10px 20px;
//       color: white;
//       text-decoration: none;
//       margin: 0 5px;
//       transition: 0.2s;
//       font-size: 1.5rem;
//     }

//     a:hover {
//       border: 1px solid transparent;
//       background-color: #fb7c3c40;
//       color: $selection;
//     }
//   }

//   h3 {
//     width: 100%;
//     height: 100%;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     position: absolute;
//     background-color: #00000099;
//     font-size: 4rem;
//     font-weight: 300;
//   }
// }
