.header__hero-description {
  h1 {
    font-size: 1.4rem;
  }

  p {
    font-size: 1.1rem;
    line-height: 1.6rem;
  }
}

.description-initial {
  h3 {
    font-size: 2rem;
  }
  a {
    padding: 9px 12px;
    font-size: 1rem;
  }

  i {
    left: 10px;
  }
}
/*________________________Projects____________________*/
