.responsive-title {
  display: flex;
  background-color: #000000e0;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.responsive-title img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}
.responsive-title a {
  color: white;
  font-size: 2.5rem;
  font-family: "Raleway", sans-serif;
  text-decoration: none;
  letter-spacing: 0.7rem;
}

.header {
  transition: 0.5s;
  position: fixed;
  width: 100%;
  top: -100vh;
  height: 100vh;
  max-height: none;
  display: grid;
  z-index: 10;
  grid-template-rows: 170px 1fr 0;
  padding: 0;
  background-color: #f7f7f7;
}
.header__top {
  height: auto;
  width: 100%;
  transform: initial;
  opacity: 1;
}
.header__top .nav {
  height: 100%;
  width: 100%;
}
.header__top .nav__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 20px;
  width: 100%;
  height: 100%;
  padding: 20px;
}
.header__top .nav__list-item {
  font-size: 1.6rem;
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: #1c1c1c;
  border-radius: 20px;
}
.header__top .nav__list-item a {
  color: white;
  display: block;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.8rem;
}
.header__top-title {
  display: none;
}
.header__hero {
  padding-left: 30px;
  height: auto;
  grid-row: 1/span 1;
  height: auto;
  display: grid;
  grid-template-columns: 80px 1fr;
  grid-template-rows: 1fr;
  background-color: #1c1c1cdb;
  transform: initial;
  opacity: 1;
}
.header__hero-img {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.header__hero-img img {
  width: 85px;
  height: 90px;
  margin: 0;
}
.header__hero-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  padding-left: 25px;
}
.header__hero-description h1 {
  font-size: 2.3rem;
}
.header__hero-description p {
  text-align: left;
  font-size: 1.3rem;
}
.header__activators {
  background-color: #1c99faa6;
  width: 70px;
  height: 70px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  color: white;
  font-size: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  opacity: 1;
  -webkit-box-shadow: 1px 3px 5px 1px rgba(0, 0, 0, 0.28);
  box-shadow: 1px 3px 5px 1px rgba(0, 0, 0, 0.28);
  -moz-box-shadow: 1px 3px 5px 1px rgba(0, 0, 0, 0.28);
}
.header .nav__list a a:hover {
  color: white;
}
.header__closer {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 20px;
  right: 20px;
  background-color: #1c99fa;
  justify-content: flex-end;
  width: 70px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  font-size: 3rem;
}
.header__closer div {
  margin-right: 20px;
  color: white;
  -webkit-box-shadow: 1px 3px 5px 1px rgba(0, 0, 0, 0.28);
  box-shadow: 1px 3px 5px 1px rgba(0, 0, 0, 0.28);
  -moz-box-shadow: 1px 3px 5px 1px rgba(0, 0, 0, 0.28);
}

.activate__header {
  top: 0;
}

.header__image--bg {
  /* display: none; */
  position: absolute;
  object-fit: cover;
  height: 170px;
}

/*_______________About me________________*/
.aboutme {
  display: initial;
  padding: 0;
}
.aboutme h2 {
  font-size: 2.2rem;
  margin-bottom: 25px;
}
.aboutme__description {
  width: 100%;
  padding: 30px 15px 0;
}
.aboutme__description ul {
  padding: 0;
}
.aboutme__description ul li {
  font-size: 1.3rem;
  line-height: 2.3rem;
  margin: 15px 0;
}
.aboutme__description ul li a {
  width: 180px;
  text-align: center;
}
.aboutme__description ul li:last-child {
  display: flex;
  justify-content: center;
}

/*_______________Habilities________________*/
.habilities {
  padding: 40px 20px 0;
}
.habilities h2 {
  font-size: 2.2rem;
}
.habilities ul {
  grid-template-columns: 1fr;
}
.habilities ul .a {
  transition-delay: 0s;
}
.habilities ul .b {
  transition-delay: 0.5s;
}
.habilities ul .c {
  transition-delay: 1s;
}
.habilities ul .d {
  transition-delay: 1.5s;
}
.habilities ul .e {
  transition-delay: 2s;
}

/*_______________Proyects________________*/
.projects {
  padding: 50px 20px 0;
}
.projects__container {
  padding-top: 20px;
  padding-bottom: 0;
}
.projects__item {
  padding: 0;
  margin-bottom: 30px;
}
.projects__item-description {
  width: 100%;
  height: 100%;
  background-color: #ffffffeb;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.projects__item-description h4 {
  font-size: 1.4rem;
  margin-top: 8px;
}
.projects__item-description p {
  font-size: 1.5rem;
  line-height: 2.5rem;
}
.projects__item-description a {
  font-size: 1.5rem;
  padding: 15px 26px;
}
.projects__item-image {
  display: none;
  width: 100%;
  height: 100%;
}

/*_______________Contact________________*/
.contact {
  margin-top: 40px;
  padding: 40px 30px;
}
.contact h2 {
  font-size: 2.3rem;
}
.contact h3 {
  text-align: center;
}

/*# sourceMappingURL=tablet.css.map */
