@import '../variables.scss';

.responsive-title {
  display: flex;
  background-color: #000000e0;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
  }
  a {
    color: white;
    font-size: 2.5rem;
    font-family: $fontLogo;
    text-decoration: none;
    letter-spacing: 0.7rem;
  }
}

.header {
  transition: 0.5s;
  position: fixed;
  width: 100%;
  top: -100vh;
  height: 100vh;
  display: grid;
  // grid-template-rows: 210px 1.5fr 1fr;
  grid-template-rows: 0.4fr 0.8fr 0.5fr;
  padding: 0;
  background-color: #f7f7f7;

  &__top {
    height: auto;
    .nav__list {
      flex-direction: column;
      justify-content: space-evenly;
      align-items: initial;
      padding-left: 30px;
      &-item {
        font-size: 1.6rem;
        margin: 0;
        a {
          color: black;
        }
      }
    }
    &-title {
      display: none;
    }
  }

  &__hero {
    padding-left: 30px;
    height: auto;
    grid-row: 1 / span 1;
    height: auto;
    display: grid;
    grid-template-columns: 80px 1fr;
    grid-template-rows: 1fr;
    background-color: #1c1c1cdb;

    &-img {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      img {
        width: 85px;
        height: 90px;
        margin: 0;
      }
    }

    &-description {
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 100%;
      padding-left: 25px;
      h1 {
        font-size: 2.3rem;
      }

      p {
        text-align: left;
        font-size: 1.3rem;
      }
    }
  }

  &__activators {
    background-color: #fc5c57ab;
    width: 70px;
    height: 70px;
    position: fixed;
    bottom: 10px;
    right: 10px;
    color: white;
    font-size: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    opacity: 1;
  }

  .nav__list {
    a a:hover {
      color: white;
      border-bottom: 1px solid white;
    }
  }

  &__closer {
    display: flex;
    justify-content: center;
    align-items: center;
    div {
      border: 2px solid $main;
      color: $main;
      width: 70px;
      height: 70px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 100px;
      font-size: 3rem;
    }
  }
}

.activate__header {
  top: 0;
}

.header__image--bg {
  display: none;
}

/*_______________About me________________*/
.aboutme {
  display: initial;
  padding: 0;
  h2 {
    font-size: 2.2rem;
  }
  &__description {
    width: 100%;
    padding: 15px 15px 0;
    ul {
      padding: 0;
      li {
        font-size: 1.3rem;
      }
      a {
        margin: 10px auto 0;
        display: block;
        width: 150px;
        text-align: center;
      }
    }
  }

  &__objectives {
    width: 100%;
    padding: 15px 15px 0;
    margin: 0;

    ul {
      padding: 0;
      li {
        font-size: 1.3rem;
      }
    }
  }
}
