@import 'variables.scss';

.header {
  height: 500px;
  padding: 25px;
  background-color: #1c1c1cdb;
  position: relative;
  color: white;
  &__top {
    height: 40px;
    display: flex;
    justify-content: space-between;
    &-title {
      display: flex;
      align-items: center;
      img {
        width: 30px;
        height: 30px;
        margin-right: 10px;
      }
      a {
        color: white;
        font-size: 2.5rem;
        font-family: $fontLogo;
        text-decoration: none;
        letter-spacing: 0.7rem;
      }
    }
  }

  .nav {
    &__list {
      display: flex;
      align-items: center;
      height: 100%;
      list-style: none;
      &-item {
        margin-left: 20px;
        font-size: 1.4rem;
        font-family: $fontLogo;
        font-weight: 600;
        a {
          color: white;
          text-decoration: none;
          transition: 0.4s;
        }
        a:hover {
          font-size: 1.8rem;
          color: $main;
        }
      }
    }
  }

  &__image--bg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
  }

  &__hero {
    height: 410px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    img {
      width: 125px;
      height: 131px;
      border-radius: 50%;
      margin-bottom: 15px;
      margin-top: -55px;
    }

    h1 {
      font-size: 3rem;
      font-family: $fontLogo;
      letter-spacing: 0.2rem;
    }

    p {
      font-size: 1.3rem;
      letter-spacing: 0.4rem;
      margin-top: 7px;
    }
  }

  &__activator {
    display: none;
  }

  &__closer {
    display: none;
  }
}

// .header {
//   padding: 15px;
//   text-align: center;
//   color: white;
//   background-color: $dark-strong;
//   position: relative;
//   @include lightShadow();
//   &__title {
//     font-family: $font;
//     color: white;
//     text-decoration: none;
//     font-size: 3rem;
//     font-weight: 100;
//     text-align: center;
//     line-height: 4.3rem;
//   }

//   &__nav {
//     position: fixed;
//     z-index: 2;
//     transition: 0.4s;
//     top: 30px;
//     right: -150px;
//   }
// }

// .nav-list {
//   list-style: none;
//   text-align: left;
//   width: 129px;
//   &__item {
//     background-color: $dark-strong;
//     transition: 0.3s;
//     font-size: 1.6rem;
//     margin: 5px 0;
//   }

//   &__item:hover {
//     font-size: 2rem;
//     border-bottom: 1px solid white;
//   }

//   &__item-link {
//     color: white;
//     text-decoration: none;
//     display: block;
//     width: 100%;
//     border: 1px solid $gray-borders;
//     border-right: none;
//     padding: 10px;
//     padding-right: 30px;
//   }
// }

// .nav__activator {
//   width: 70px;
//   height: 70px;
//   background-color: #fb7b3a9e;
//   position: fixed;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   font-size: 4.5rem;
//   border-radius: 50%;
//   right: 10px;
//   bottom: 10px;
//   z-index: 3;
// }

// .show__nav {
//   right: 0;
// }
