@import 'variables.scss';

.header {
  height: 100vh;
  padding: 25px;
  background-color: rgb(0 0 0 / 11%);
  color: white;
  max-height: 450px;
  &__top {
    height: 60px;
    display: flex;
    justify-content: space-between;
    top: 1px;
    align-items: center;
    transform: translateX(-300px);
    transition: 1s ease-in-out all;
    opacity: 0;
    &-title {
      img {
        width: 30px;
        height: 30px;
        margin-right: 10px;
        transition: 0.6s;
      }
      a {
        display: flex;
        align-items: center;
        color: white;
        font-size: 2.8rem;
        font-family: $fontTitles;
        text-decoration: none;
        letter-spacing: 0.7rem;
      }
    }
  }

  .nav {
    &__list {
      display: flex;
      align-items: center;
      height: 100%;
      list-style: none;
      &-item {
        margin-left: 20px;
        font-size: 1.7rem;
        font-family: $fontTitles;
        font-weight: 600;
        a {
          color: white;
          text-decoration: none;
          transition: 0.4s;
        }
        a:hover {
          font-size: 2.1rem;
          // color: $main;
          text-shadow: -3px 2px 12px white;
        }
      }
    }
  }

  &__image--bg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0;
    height: 100vh;
    max-height: 450px;
    object-fit: cover;
  }

  &__hero {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translateY(200px);
    transition: 1s ease-in-out all;
    opacity: 0;
    img {
      width: 125px;
      height: 131px;
      border-radius: 50%;
      margin-bottom: 15px;
      margin-top: -55px;
      object-fit: cover;
      border: 4px solid white;
    }

    h1 {
      font-size: 4rem;
      font-family: $fontTitles;
      letter-spacing: 0.2rem;
    }

    p {
      font-size: 1.6rem;
      letter-spacing: 0.4rem;
      margin-top: 7px;
      text-align: center;
    }
  }

  &__activator {
    display: none;
    transition: 0.3s;
    opacity: 0;
  }

  &__closer {
    display: none;
  }
}

.opacity-img {
  opacity: 1;
  transition: 0.4s;
}
