@import './variables.scss';

.hero {
  color: white;
  background-color: $dark;
  padding: 30px 0;
  text-align: center;
  padding: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @include darkShadow();

  &__photo-container {
    width: 160px;
    height: 160px;
    border: 3px solid white;
    overflow: hidden;
    border-radius: 50%;
  }

  &__description {
    margin: 20px 0 0;
    font-size: 1.8rem;
    line-height: 3rem;
  }

  img {
    object-fit: cover;
    width: 100%;
    top: 0;
  }
}
