:root {
  --light: #fb7b3a;
  --blue: #01a5f7;
  --purple: #01a5f7;
  --grape: #543a76;
  --dark: #343a40;
  --white: #fff;
}

/*MAIN*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-size: 1.6rem;
  font-family: "Roboto", sans-serif;
  background-color: #ececec9e;
}

.wrapper {
  padding: 0 20px;
}

h2 {
  text-align: center;
  font-size: 3rem;
  padding-bottom: 30px;
}

/* HEADER */

header {
  background-color: var(--dark);
  color: white;
  top: 0;
}

.header-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
}

.header__activator {
  width: 70px;
  height: 70px;
  background-color: #343a40a8;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4.5rem;
  border-radius: 50%;
  right: 10px;
  bottom: 10px;
}

nav {
  position: fixed;
  transition: 0.4s;
  top: 30px;
  right: -150px;
}

.show__nav {
  right: 0;
}

.nav__list {
  /* display: flex; */
  align-items: center;
  list-style: none;
}

.nav__list-item {
  background-color: var(--dark);
  transition: 0.3s;
  font-size: 1.6rem;
  border: 1px solid white;
  border-right: none;
  margin: 5px 0;
  padding: 10px;
  padding-right: 30px;
}

.nav__list-item:hover {
  font-size: 2.1rem;
}

/* .curriculum {
  padding: 0;
  border: 2px solid white;
  background-color: var(--light);
  height: 40px;
  width: 175px;
  border-radius: 25px;
  margin-left: 20px;
  font-weight: 600;
} */

.curriculum:hover {
  background-color: var(--light);
  border: none;
  transition: 0.3s;
}

.curriculum:hover a {
  color: white;
}

.curriculum a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.nav__list-item-link {
  color: white;
  text-decoration: none;
}

/* HERO */

.hero {
  color: white;
  background-color: var(--blue);
  /* border: 1px solid black; */
  padding: 30px 0;
}

.hero .wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* padding: 0 0 0 20px; */
  height: 100%;
}

.hero__photo-container {
  width: 160px;
  height: 160px;
}

.hero__photo-container img {
  border-radius: 50%;
  border: 8px solid white;
  object-fit: cover;
  width: 100%;
  height: 100%;
  top: 0;
}

.hero__title {
  text-transform: uppercase;
  text-align: center;
  /* font-size: 5rem; */
  font-size: 4rem;
  display: block;
  margin: 20px 0;
}

.hero__description {
  font-size: 2rem;
  /* font-size: 2.5rem; */
  /* width: 900px; */
}

/* HABILITIES */
.habilities {
  margin: 30px 0;
}

.habilities__title {
  padding-bottom: 0;
}

.habilities__list li {
  width: 300px;
  display: flex;
  align-items: center;
  margin: 40px auto;
}

.hability__logo {
  width: 80px;
  height: 75px;
  margin-right: 25px;
}

.hability__logo img {
  width: 100%;
  height: 100%;
}

.hability__logo .css,
.hability__logo .node {
  width: 70px;
  margin: 0 auto;
  display: block;
}

.hability__logo .webpack {
  height: 80px;
  margin-top: -4px;
}

.hability__logo .bootstrap {
  height: 65px;
  margin-top: 4px;
}

.hability__title {
  font-weight: 600;
  font-size: 2rem;
}

/* PROJECTS */

.projects {
  padding: 30px 0;
}

.projects__title {
  text-align: center;
  font-size: 3rem;
}

.project__item-container {
  background-color: white;
  padding: 40px;
  width: 1000px;
  display: flex;
  margin: 0 auto 35px;
  border-radius: 30px;
}

.project__image {
  width: 500px;
}

.project__description h4 {
  text-align: center;
  font-size: 2rem;
  padding-bottom: 20px;
}

.project__description {
  padding-left: 50px;
}

.project__description a {
  margin: 30px auto 0;
  display: block;
  width: 150px;
  border: 2px solid var(--light);
  border-radius: 8px;
  color: var(--light);
  text-align: center;
  padding: 10px 20px;
  text-decoration: none;
  font-weight: 600;
}

.project__description a:hover {
  background-color: var(--light);
  transition: 0.3s;
  color: white;
}

/* FOOTER */

footer {
  background-color: var(--dark);
  padding: 30px 0;
  color: white;
  font-weight: 100;
}

.contact__container {
  display: flex;
  justify-content: space-between;
}

.contact__social {
  width: 75%;
}

.contact__social ul {
  list-style: none;
  display: flex;
}

.contact__social-item {
  margin-right: 20px;
  width: 40px;
  height: 40px;
}

.contact__social-item a {
  color: white;
  text-decoration: none;
}

.contact__social-item a i {
  font-size: 30px;
}

.contact__social-item:hover a i {
  font-size: 4rem;
  transition: 0.3s;
}

.contact__social p {
  margin-bottom: 20px;
}

.contact__email {
  width: 25%;
}

.contact__email h4 {
  margin-top: 5px;
  font-size: 1.7rem;
  font-weight: 400;
}
