.moveHeaderTop {
  transform: translateX(0px);
  opacity: 1;
}

.moveHero {
  transform: translateY(0px);
  opacity: 1;
}

.moveAboutme {
  transform: translateX(0px);
  opacity: 1;
}

.habilities {
  .moveHability {
    transform: translateX(0px);
    opacity: 1;
  }
}

.moveProject {
  transform: translateY(0px);
  opacity: 1;
}
