* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: #f5f5f5;
}

.responsive-title {
  display: none;
}

h1,
h2,
h3,
h4 {
  font-family: "Raleway", sans-serif;
}

.header {
  height: 100vh;
  padding: 25px;
  background-color: rgba(0, 0, 0, 0.75);
  color: white;
  max-height: 636px;
  min-height: 360px;
}
.header__top {
  height: 60px;
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  align-items: center;
  transform: translateX(-300px);
  transition: 0.7s ease-in-out all;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 2;
  padding: 35px 25px;
}
.header__top-title img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  transition: 0.6s;
}
.header__top-title a {
  display: flex;
  align-items: center;
  color: white;
  font-size: 2.8rem;
  font-family: "Raleway", sans-serif;
  text-decoration: none;
  letter-spacing: 0.7rem;
}
.header .change_ht {
  background-color: #26c6dab3;
}
.header .nav__list {
  display: flex;
  align-items: center;
  height: 100%;
  list-style: none;
}
.header .nav__list-item {
  margin-left: 23px;
  font-size: 1.7rem;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
}
.header .nav__list-item a {
  color: white;
  text-decoration: none;
  transition: 0.4s;
}
.header .nav__list-item a:hover {
  font-size: 2.1rem;
  text-shadow: -3px 2px 12px white;
}
.header__image--bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0;
  max-height: 636px;
  min-height: 360px;
  object-fit: cover;
}
.header__hero {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: translateY(200px);
  transition: 1s ease-in-out all;
  opacity: 0;
  margin-top: 30px;
}
.header__hero img {
  width: 145px;
  height: 151px;
  border-radius: 50%;
  margin-bottom: 15px;
  margin-top: -55px;
  object-fit: cover;
}
.header__hero h1 {
  font-size: 4rem;
  font-family: "Raleway", sans-serif;
  letter-spacing: 0.2rem;
}
.header__hero p {
  font-size: 1.6rem;
  letter-spacing: 0.4rem;
  margin-top: 7px;
  text-align: center;
}
.header__activator {
  display: none;
  transition: 0.3s;
  opacity: 0;
}
.header__closer {
  display: none;
}

.nav-responsive {
  display: none;
}

.opacity-img {
  opacity: 1;
  transition: 0.4s;
}

.aboutme {
  padding: 100px 50px 0;
  font-family: "Open Sans", sans-serif;
  max-width: 1500px;
  margin: 0 auto;
}
.aboutme h2 {
  text-align: center;
  font-size: 2.6rem;
  letter-spacing: 1px;
  color: #34343480;
  font-family: "Raleway", sans-serif;
  margin-bottom: 45px;
}
.aboutme__description {
  line-height: 1.7rem;
  color: #767676;
  opacity: 0;
  transform: translateX(-300px);
  transition: 1s ease-in-out all;
}
.aboutme__personal {
  margin-top: 15px;
}
.aboutme__personal ul {
  list-style: none;
  padding-left: 5px;
}
.aboutme__personal li {
  margin: 12px 0;
  font-size: 1.5rem;
  line-height: 2.1rem;
}
.aboutme__personal li a {
  color: #26c6da;
  text-decoration: none;
}
.aboutme__personal .nav__list-item-link {
  position: relative;
  overflow: hidden;
  color: white;
  font-weight: 400;
  background-color: #26c6da;
  margin-right: 5px;
  font-size: 1.5rem;
  padding: 15px 25px;
  margin-top: 5px;
  display: inline-block;
  text-decoration: none;
  transition: 0.25s;
  -webkit-box-shadow: 1px 3px 5px 1px rgba(0, 0, 0, 0.28);
  box-shadow: 1px 3px 5px 1px rgba(0, 0, 0, 0.28);
  -moz-box-shadow: 1px 3px 5px 1px rgba(0, 0, 0, 0.28);
}
.aboutme__personal .nav__list-item-link span {
  position: inherit;
  z-index: 2;
}
.aboutme__personal .nav__list-item-link::after {
  content: "";
  position: absolute;
  left: 0;
  top: -370%;
  background-color: #ffaf52;
  width: 100%;
  height: 370%;
  z-index: 1;
  transition: 0.4s ease-in-out all;
  border-radius: 0 0 300px 300px;
}
.aboutme__personal .nav__list-item-link:hover::after {
  top: 0;
}
.aboutme__objectives {
  width: 50%;
  opacity: 0;
  transform: translateX(-300px);
  transition: 1s ease-in-out all;
}
.aboutme__objectives ul {
  list-style: none;
  padding-left: 5px;
  margin-top: 15px;
  color: #767676;
}
.aboutme__objectives li {
  margin: 10px 0;
  font-size: 1.5rem;
  line-height: 2.1rem;
}

.habilities {
  padding: 90px 50px 0;
  max-width: 1500px;
  margin: 0 auto;
}
.habilities h2 {
  text-align: center;
  font-size: 2.6rem;
  letter-spacing: 1px;
  color: #34343480;
}
.habilities ul {
  display: grid;
  margin-top: 45px;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
  list-style: none;
}
.habilities__item {
  background-color: white;
  padding: 20px 15px;
  text-align: center;
  display: flex;
  flex-direction: column;
  position: relative;
  transform: translateX(-300px);
  opacity: 0;
  transition: 1s ease-in-out all;
  -webkit-box-shadow: 1px 3px 5px 1px #0000000d;
  box-shadow: 1px 3px 5px 1px #0000000d;
  -moz-box-shadow: 1px 3px 5px 1px #0000000d;
}
.habilities__item div {
  font-size: 2rem;
  background-color: #26c6da;
  color: white;
  border-radius: 50%;
  width: 68px;
  height: 67px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-box-shadow: 1px 3px 5px 1px rgba(0, 0, 0, 0.28);
  box-shadow: 1px 3px 5px 1px rgba(0, 0, 0, 0.28);
  -moz-box-shadow: 1px 3px 5px 1px rgba(0, 0, 0, 0.28);
}
.habilities .a {
  transition-delay: 1.5s;
}
.habilities .b {
  transition-delay: 1s;
}
.habilities .c {
  transition-delay: 0.5s;
}
.habilities .habilities__item::before {
  content: "";
  height: 3px;
  background-color: #26c6da;
  width: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  border-radius: 15%;
}
.habilities h3 {
  font-size: 1.7rem;
  font-weight: 700;
  margin: 10px 0 12px;
}
.habilities p {
  font-size: 1.4rem;
  line-height: 2.4rem;
  color: #767676;
}

.icon-big {
  font-size: 3rem;
}

.projects {
  padding: 100px 50px 0;
  max-width: 1500px;
  margin: 0 auto;
}
.projects h2 {
  text-align: center;
  font-size: 2.6rem;
  letter-spacing: 1px;
  color: #34343480;
}
.projects__container {
  padding: 45px 0 0px;
}
.projects__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  padding: 30px;
  height: 360px;
  max-width: 1500px;
  margin: 0 auto 50px;
  transform: translateY(200px);
  opacity: 0;
  transition: 0.5s;
  -webkit-box-shadow: 1px 3px 5px 1px #0000000d;
  box-shadow: 1px 3px 5px 1px #0000000d;
  -moz-box-shadow: 1px 3px 5px 1px #0000000d;
}
.projects__item-description {
  padding: 20px;
  width: 58%;
}
.projects__item-description h3 {
  font-size: 3rem;
  text-align: center;
}
.projects__item-description h4 {
  font-size: 1.5rem;
  color: #34343480;
  text-align: center;
  margin: 3px 0 15px;
}
.projects__item-description p {
  font-size: 1.6em;
  line-height: 2.3rem;
  color: #767676;
}
.projects__item-description-buttons {
  width: 100%;
  text-align: center;
  margin-top: 17px;
}
.projects__item-description-buttons a {
  position: relative;
  overflow: hidden;
  color: white;
  font-weight: 400;
  background-color: #26c6da;
  margin-right: 5px;
  font-size: 1.5rem;
  padding: 15px 25px;
  margin-top: 5px;
  display: inline-block;
  text-decoration: none;
  transition: 0.25s;
  -webkit-box-shadow: 1px 3px 5px 1px rgba(0, 0, 0, 0.28);
  box-shadow: 1px 3px 5px 1px rgba(0, 0, 0, 0.28);
  -moz-box-shadow: 1px 3px 5px 1px rgba(0, 0, 0, 0.28);
}
.projects__item-description-buttons a span {
  position: inherit;
  z-index: 2;
}
.projects__item-description-buttons a::after {
  content: "";
  position: absolute;
  left: 0;
  top: -370%;
  background-color: #ffaf52;
  width: 100%;
  height: 370%;
  z-index: 1;
  transition: 0.4s ease-in-out all;
  border-radius: 0 0 300px 300px;
}
.projects__item-description a:hover::after {
  top: 0;
}
.projects__item-image {
  height: 260px;
  width: 420px;
}
.projects__item-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.projects__item:last-child {
  margin-bottom: 0;
}
.projects__cta {
  text-align: center;
  font-size: 1.5rem;
  line-height: 2.5rem;
  text-align: center;
  color: #767676;
  padding: 30px 0;
}
.projects__cta a {
  color: #26c6da;
  transition: 0.3s;
}
.projects__cta a:hover {
  color: #ffaf52;
}

.contact {
  background-color: #000000e0;
  color: white;
  padding: 90px 50px 20px;
}
.contact h2 {
  text-align: center;
  font-size: 2.6rem;
  letter-spacing: 1px;
  color: #34343480;
  color: white;
}
.contact h3 {
  margin: 15px 25px 0;
  font-size: 1.5rem;
}
.contact form {
  max-width: 1200px;
  margin: 40px auto 0;
}
.contact label {
  /* Track */
  /* Handle */
  /* Handle on hover */
}
.contact label p {
  text-transform: uppercase;
  font-size: 1.7rem;
  letter-spacing: 0.3rem;
}
.contact label input,
.contact label textarea {
  background-color: transparent;
  outline: none;
  border: none;
  border-bottom: 1px solid white;
  width: 100%;
  color: #ffffffd6;
  margin: 3px 0 30px;
  height: 30px;
  font-size: 1.4rem;
  letter-spacing: 0.1rem;
  transition: 0.3s;
}
.contact label textarea {
  margin-top: 10px;
  height: 100px;
  resize: none;
  font-family: "Open Sans", sans-serif;
  overflow: auto;
}
.contact label textarea::-webkit-scrollbar {
  width: 10px;
}
.contact label textarea::-webkit-scrollbar-track {
  background: #404040;
  border-radius: 10px;
}
.contact label textarea::-webkit-scrollbar-thumb {
  background: #c5c5c5;
  border-radius: 10px;
}
.contact label textarea::-webkit-scrollbar-thumb:hover {
  background: #26c6da;
}
.contact label input:focus,
.contact label textarea:focus {
  border-bottom: 1px solid #26c6da;
}
.contact button {
  position: relative;
  overflow: hidden;
  color: white;
  font-weight: 400;
  background-color: #26c6da;
  margin-right: 5px;
  font-size: 1.5rem;
  padding: 15px 25px;
  margin-top: 5px;
  display: inline-block;
  text-decoration: none;
  transition: 0.25s;
  -webkit-box-shadow: 1px 3px 5px 1px rgba(0, 0, 0, 0.28);
  box-shadow: 1px 3px 5px 1px rgba(0, 0, 0, 0.28);
  -moz-box-shadow: 1px 3px 5px 1px rgba(0, 0, 0, 0.28);
  font-weight: 600;
  margin-top: 5px;
  border: none;
  display: inline-block;
  padding: 0;
  width: 280px;
  height: 50px;
  cursor: pointer;
  font-family: "Open Sans", sans-serif;
  font-size: 1.9rem;
}
.contact button span {
  position: inherit;
  z-index: 2;
}
.contact button::after {
  content: "";
  position: absolute;
  left: 0;
  top: -370%;
  background-color: #ffaf52;
  width: 100%;
  height: 370%;
  z-index: 1;
  transition: 0.4s ease-in-out all;
  border-radius: 0 0 300px 300px;
}
.contact button:hover::after {
  top: 0;
}
.contact ul {
  list-style: none;
  display: flex;
  margin-top: 40px;
  width: 280px;
  display: flex;
  justify-content: space-between;
}
.contact li {
  width: 32px;
  text-align: center;
}
.contact li i {
  font-size: 3rem;
  transition: 0.4s;
}
.contact li a {
  color: white;
}
.contact li:hover i {
  font-size: 3.8rem;
  color: #ffaf52;
}

.sendedMessage {
  opacity: 0;
  color: white;
  top: -100%;
  width: 100%;
  position: fixed;
  background-color: transparent;
  transition: 1s ease;
}
.sendedMessage__content {
  margin: 0 auto;
  width: 240px;
  border-radius: 5px;
  justify-content: space-between;
  font-size: 1.7rem;
  align-items: center;
  padding: 10px 20px;
  display: flex;
  background-color: #26c6da;
}
.sendedMessage__content-icon {
  font-size: 2.5rem;
}
.sendedMessage__content span {
  text-align: center;
}

.sendedMessage.show {
  opacity: 1;
  top: 100px;
}

.moveHeaderTop {
  transform: translateX(0px);
  opacity: 1;
}

.moveHero {
  transform: translateY(0px);
  opacity: 1;
}

.moveAboutme {
  transform: translateX(0px);
  opacity: 1;
}

.habilities .moveHability {
  transform: translateX(0px);
  opacity: 1;
}

.moveProject {
  transform: translateY(0px);
  opacity: 1;
}

/*# sourceMappingURL=module.css.map */
