* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Raleway", sans-serif;
  background-color: #f7f7f7;
}

.responsive-title {
  display: none;
}

.header {
  height: 500px;
  padding: 25px;
  background-color: #1c1c1cdb;
  position: relative;
  color: white;
}
.header__top {
  height: 40px;
  display: flex;
  justify-content: space-between;
}
.header__top-title {
  display: flex;
  align-items: center;
}
.header__top-title img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}
.header__top-title a {
  color: white;
  font-size: 2.5rem;
  font-family: "Raleway", sans-serif;
  text-decoration: none;
  letter-spacing: 0.7rem;
}
.header .nav__list {
  display: flex;
  align-items: center;
  height: 100%;
  list-style: none;
}
.header .nav__list-item {
  margin-left: 20px;
  font-size: 1.4rem;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
}
.header .nav__list-item a {
  color: white;
  text-decoration: none;
  transition: 0.4s;
}
.header .nav__list-item a:hover {
  font-size: 1.8rem;
  color: #fc5c57;
}
.header__image--bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}
.header__hero {
  height: 410px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.header__hero img {
  width: 125px;
  height: 131px;
  border-radius: 50%;
  margin-bottom: 15px;
  margin-top: -55px;
}
.header__hero h1 {
  font-size: 3rem;
  font-family: "Raleway", sans-serif;
  letter-spacing: 0.2rem;
}
.header__hero p {
  font-size: 1.3rem;
  letter-spacing: 0.4rem;
  margin-top: 7px;
  text-align: center;
}
.header__activator {
  display: none;
  transition: 0.3s;
  opacity: 0;
}
.header__closer {
  display: none;
}

.aboutme {
  padding: 70px 50px 10px;
  font-family: "Raleway", sans-serif;
  display: flex;
}
.aboutme h2 {
  border-left: 3px solid #fc5c57;
  height: 35px;
  display: flex;
  align-items: center;
  font-size: 2.6rem;
  padding-left: 10px;
  letter-spacing: 1px;
  color: #34343480;
  font-family: "Raleway", sans-serif;
}
.aboutme__description {
  padding-right: 50px;
  line-height: 1.7rem;
  width: 50%;
}
.aboutme__personal {
  margin-top: 15px;
}
.aboutme__personal ul {
  list-style: none;
  padding-left: 5px;
}
.aboutme__personal li {
  margin: 10px 0;
  font-size: 1.5rem;
  line-height: 2.1rem;
}
.aboutme__personal a {
  color: #fc5c57;
  font-weight: 600;
  font-size: 1.3rem;
  border: 2px solid #fc5c57;
  padding: 13px 25px;
  margin-top: 5px;
  display: inline-block;
  text-decoration: none;
  transition: 0.3s;
}
.aboutme__personal a:hover {
  background-color: #fc5c57;
  color: white;
}
.aboutme__objectives {
  width: 50%;
}
.aboutme__objectives ul {
  list-style: none;
  padding-left: 5px;
  margin-top: 15px;
}
.aboutme__objectives li {
  margin: 10px 0;
  font-size: 1.5rem;
}

.habilities {
  padding: 40px 50px;
  max-width: 1500px;
  margin: 0 auto;
}
.habilities h2 {
  text-align: center;
  font-size: 2.6rem;
  letter-spacing: 1px;
  color: #34343480;
}
.habilities ul {
  display: grid;
  margin-top: 30px;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 210px;
  gap: 20px;
  list-style: none;
}
.habilities li {
  background-color: white;
  padding: 15px;
  text-align: center;
  display: flex;
  flex-direction: column;
  -webkit-box-shadow: 1px 3px 5px 1px #0000000d;
  box-shadow: 1px 3px 5px 1px #0000000d;
  -moz-box-shadow: 1px 3px 5px 1px #0000000d;
}
.habilities li div {
  font-size: 2rem;
  background-color: #3434342b;
  border-radius: 50%;
  width: 68px;
  height: 67px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.habilities h3 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 8px 0 10px;
}
.habilities p {
  font-size: 1.3rem;
  line-height: 2rem;
}

.icon-big {
  font-size: 3rem;
}

.projects {
  padding: 40px 50px;
}
.projects h2 {
  text-align: center;
  font-size: 2.6rem;
  letter-spacing: 1px;
  color: #34343480;
}
.projects__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 50px;
}
.projects__item {
  display: flex;
  align-items: center;
  position: relative;
  justify-content: center;
  /* padding-right: 25px; */
  /* margin: 40px 0 80px; */
}
.projects__item-description {
  width: 500px;
  height: 270px;
  margin-right: -250px;
}
.projects__item-description-container {
  background-color: white;
  overflow: hidden;
  display: flex;
  width: 100%;
  height: 100%;
  position: relative;
  -webkit-box-shadow: 1px 3px 5px 1px rgba(0, 0, 0, 0.28);
  box-shadow: 1px 3px 5px 1px rgba(0, 0, 0, 0.28);
  -moz-box-shadow: 1px 3px 5px 1px rgba(0, 0, 0, 0.28);
}
.projects__item-description-container i {
  position: absolute;
  font-size: 2.2rem;
  cursor: pointer;
}
.projects__item-visuals {
  position: relative;
  z-index: -1;
  width: 545px;
  height: 320px;
  -webkit-box-shadow: 1px 3px 5px 1px rgba(0, 0, 0, 0.28);
  box-shadow: 1px 3px 5px 1px rgba(0, 0, 0, 0.28);
  -moz-box-shadow: 1px 3px 5px 1px rgba(0, 0, 0, 0.28);
}
.projects__item-visuals div {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.384);
}
.projects__item-visuals img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.description-initial {
  width: 100%;
  height: 100%;
  right: 0;
  flex-shrink: 0;
  position: absolute;
  transition: 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.description-initial h3 {
  font-size: 3rem;
  font-weight: 300;
  margin-bottom: 7px;
}
.description-initial a {
  color: #fc5c57;
  font-weight: 600;
  font-size: 1.3rem;
  border: 2px solid #fc5c57;
  padding: 13px 25px;
  margin-top: 5px;
  display: inline-block;
  text-decoration: none;
  transition: 0.3s;
}
.description-initial a:hover {
  background-color: #fc5c57;
  color: white;
}
.description-initial i {
  left: 25px;
}

.description-secondary {
  width: 100%;
  height: 100%;
  left: 500px;
  flex-shrink: 0;
  position: absolute;
  transition: 0.5s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1.3rem;
  padding: 30px 50px;
}
.description-secondary p {
  padding-bottom: 10px;
  text-align: justify;
}
.description-secondary h4 {
  font-size: 1.5rem;
}
.description-secondary ul {
  padding-left: 20px;
}
.description-secondary li {
  margin: 2px 0;
}
.description-secondary i {
  right: 25px;
}

.move-initial {
  right: 500px;
}

.move-secondary {
  left: 0;
}

.contact {
  background-color: #000000e0;
  color: white;
  padding: 40px 50px;
}
.contact h2 {
  text-align: center;
  font-size: 2.6rem;
  letter-spacing: 1px;
  color: #34343480;
  color: white;
}
.contact h3 {
  margin: 15px 25px 0;
  font-size: 1.5rem;
}
.contact form {
  max-width: 1200px;
  margin: 25px auto 20px;
}
.contact label p {
  text-transform: uppercase;
  font-size: 1.7rem;
  letter-spacing: 0.3rem;
}
.contact label input,
.contact label textarea {
  background-color: transparent;
  outline: none;
  border: none;
  border-bottom: 1px solid white;
  width: 100%;
  color: #ffffffd6;
  margin: 3px 0 30px;
  height: 30px;
  font-size: 1.4rem;
  letter-spacing: 0.1rem;
  transition: 0.3s;
}
.contact label textarea {
  margin-top: 10px;
  height: 70px;
  resize: none;
  font-family: "Raleway", sans-serif;
}
.contact label input:focus,
.contact label textarea:focus {
  border-bottom: 1px solid #fc5c57;
}
.contact button {
  color: white;
  background-color: #fc5c57;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 1.7rem;
  border: 2px solid #fc5c57;
  padding: 13px 25px;
  margin-top: 5px;
  display: inline-block;
  text-decoration: none;
  transition: 0.2s;
  width: 280px;
  cursor: pointer;
}
.contact button:hover {
  -webkit-box-shadow: 0px 1px 5px 1px #fc5c57;
  box-shadow: 0px 1px 5px 1px #fc5c57;
  -moz-box-shadow: 0px 1px 3px 1px #fc5c57;
}
.contact ul {
  list-style: none;
  display: flex;
  margin-top: 20px;
  width: 220px;
  display: flex;
  justify-content: space-between;
}
.contact li {
  margin-right: 15px;
  width: 32px;
}
.contact li i {
  font-size: 3rem;
  transition: 0.4s;
}
.contact li a {
  color: white;
}
.contact li:hover i {
  font-size: 3.8rem;
  color: #fc5c57;
}

/*# sourceMappingURL=module.css.map */
