// $light: #2e2f2f;
// $dark-strong: #222;
// $dark: #222;
// $gray-borders: #ffffff1f;
// $selection: hsl(20, 96%, 61%);
// $inputs: #222;

$primary: #1e2233;
$secondary: #24273d;
$main: #fc5c57;
$fontLogo: 'Raleway', sans-serif;
$fontMain: 'Raleway', sans-serif;
$gray: #34343480;

@mixin darkShadow($color: rgba(0, 0, 0, 0.28)) {
  -webkit-box-shadow: 1px 3px 5px 1px $color;
  box-shadow: 1px 3px 5px 1px $color;
  -moz-box-shadow: 1px 3px 5px 1px $color;
}

@mixin lightShadow($color: #0000000d) {
  -webkit-box-shadow: 1px 3px 5px 1px $color;
  box-shadow: 1px 3px 5px 1px $color;
  -moz-box-shadow: 1px 3px 5px 1px $color;
}

@mixin redButton() {
  color: $main;
  font-weight: 600;
  font-size: 1.3rem;
  border: 2px solid $main;
  padding: 13px 25px;
  margin-top: 5px;
  display: inline-block;
  text-decoration: none;
  transition: 0.3s;
}

@mixin redButtonHover() {
  background-color: $main;
  color: white;
}

@mixin titles() {
  text-align: center;
  font-size: 2.6rem;
  letter-spacing: 1px;
  color: $gray;
}
