$light: #e2e2e2;
$dark-strong: #222;
$dark: #2e2f2f;
$font: 'Raleway', sans-serif;
$gray-borders: #ffffff1f;
$selection: #fb7b3a;
$inputs: #2e2f2f;

@mixin darkShadow() {
  -webkit-box-shadow: 1px 3px 5px 1px rgba(0, 0, 0, 0.28);
  box-shadow: 1px 3px 5px 1px rgba(0, 0, 0, 0.28);
  -moz-box-shadow: 1px 3px 5px 1px rgba(0, 0, 0, 0.28);
}

@mixin lightShadow() {
  -webkit-box-shadow: 1px 3px 5px 1px #0000000d;
  box-shadow: 1px 3px 5px 1px #0000000d;
  -moz-box-shadow: 1px 3px 5px 1px #0000000d;
}
